function Main.main 2
call Keyboard.readChar 0
pop local 0
call Output.println 0
pop temp 0
push constant 65
pop local 1
label WHILE_BOOL36
push local 1
push local 0
gt
not
not
if-goto WHILEEND36
push local 1
call Output.printChar 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILEBOOL36
label WHILEEND36
call Output.println 0
pop temp 0
push constant 0
return
