function Sudoku.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 23
call String.new 1
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push constant 4
pop this 1
push constant 4
pop this 2
push pointer 0
push local 0
call Sudoku.initGrid 2
pop this 0
push pointer 0
return
function Sudoku.getXPos 0
push argument 0
pop pointer 0
push this 1
return
function Sudoku.getYPos 0
push argument 0
pop pointer 0
push this 2
return
function Sudoku.setXPos 0
push argument 0
pop pointer 0
push constant 1
neg
push argument 1
lt
push constant 9
push argument 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 1
label IF_FALSE0
push constant 0
return
function Sudoku.setYPos 0
push argument 0
pop pointer 0
push constant 1
neg
push argument 1
lt
push constant 9
push argument 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 2
label IF_FALSE0
push constant 0
return
function Sudoku.getGrid 0
push argument 0
pop pointer 0
push this 0
return
function Sudoku.setGrid 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Sudoku.initGrid 5
push argument 0
pop pointer 0
push constant 81
call Array.new 1
pop local 1
push argument 1
push constant 81
push constant 1
push constant 81
call Random.range 4
pop local 0
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push constant 81
lt
not
if-goto WHILE_END0
push local 3
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 3
label WHILE_EXP1
push local 3
push constant 81
lt
not
if-goto WHILE_END1
push constant 1
push local 3
push constant 9
call Random.mod 2
add
pop local 4
push local 1
push local 3
push local 0
add
pop pointer 1
push that 0
push local 4
call Sudoku.safe 3
pop local 2
push local 3
push local 0
add
pop pointer 1
push that 0
push local 1
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 1
return
function Sudoku.safe 7
push constant 0
pop local 1
push constant 0
pop local 2
push constant 10
call Array.new 1
pop local 0
label WHILE_EXP0
push local 1
push constant 81
lt
not
if-goto WHILE_END0
push local 1
push constant 9
call Random.mod 2
pop local 3
push argument 1
push constant 9
call Random.mod 2
pop local 4
push local 1
push constant 9
call Random.mod 2
push constant 3
call Math.divide 2
pop local 5
push argument 1
push constant 9
call Random.mod 2
push constant 3
call Math.divide 2
pop local 6
push local 3
push local 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 0
add
pop pointer 1
push that 0
push local 1
push argument 0
add
pop pointer 1
push that 0
eq
push argument 1
push argument 0
add
pop pointer 1
push that 0
push constant 0
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push argument 0
add
pop pointer 1
push that 0
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
label IF_FALSE0
push local 1
push constant 9
call Math.divide 2
push argument 1
push constant 9
call Math.divide 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push argument 0
add
pop pointer 1
push that 0
push local 1
push argument 0
add
pop pointer 1
push that 0
eq
push argument 1
push argument 0
add
pop pointer 1
push that 0
push constant 0
gt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push argument 0
add
pop pointer 1
push that 0
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
label IF_FALSE2
push local 1
push constant 3
call Math.divide 2
push argument 1
push constant 3
call Math.divide 2
eq
push local 5
push local 6
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push argument 0
add
pop pointer 1
push that 0
push local 1
push argument 0
add
pop pointer 1
push that 0
eq
push argument 1
push argument 0
add
pop pointer 1
push that 0
push constant 0
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push argument 0
add
pop pointer 1
push that 0
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE5
label IF_FALSE4
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push argument 2
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
push argument 2
sub
pop local 2
label IF_FALSE6
push local 0
call Memory.deAlloc 1
pop temp 0
push argument 2
push local 2
add
return
function Sudoku.game 9
push constant 0
pop local 1
push constant 0
pop local 2
call Screen.clearScreen 0
pop temp 0
push constant 28
pop local 3
push constant 200
pop local 4
push constant 0
pop local 5
push constant 14
pop local 7
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 2
push constant 9
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 9
lt
not
if-goto WHILE_END1
push constant 2
push local 1
call Math.multiply 2
push constant 2
push local 2
call Math.multiply 2
call Output.moveCursor 2
pop temp 0
push constant 2
call String.new 1
pop local 8
push local 8
push constant 9
push local 2
call Math.multiply 2
push local 1
add
push argument 0
add
pop pointer 1
push that 0
call String.setInt 2
pop temp 0
push local 8
call Output.printString 1
pop temp 0
push local 8
call Memory.deAlloc 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 2
push constant 1
add
pop local 2
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Sudoku.dispose 0
push argument 0
pop pointer 0
call sudoku.dispose 0
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Sudoku.run 5
push argument 0
pop pointer 0
push argument 1
call Sudoku.getGrid 1
pop local 4
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 4
call Sudoku.game 1
pop temp 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 49
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 1
label IF_FALSE0
push local 0
push constant 50
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop local 1
label IF_FALSE1
push local 0
push constant 51
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop local 1
label IF_FALSE2
push local 0
push constant 52
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop local 1
label IF_FALSE3
push local 0
push constant 53
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 5
pop local 1
label IF_FALSE4
push local 0
push constant 54
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 6
pop local 1
label IF_FALSE5
push local 0
push constant 55
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 7
pop local 1
label IF_FALSE6
push local 0
push constant 56
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 8
pop local 1
label IF_FALSE7
push local 0
push constant 57
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 9
pop local 1
label IF_FALSE8
push local 0
push constant 130
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push argument 1
push local 2
push constant 1
sub
call Sudoku.setXPos 2
pop temp 0
label IF_FALSE9
push local 0
push constant 131
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push argument 1
push local 3
push constant 1
sub
call Sudoku.setYPos 2
pop temp 0
label IF_FALSE10
push local 0
push constant 132
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push argument 1
push local 2
push constant 1
add
call Sudoku.setXPos 2
pop temp 0
label IF_FALSE11
push local 0
push constant 133
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push argument 1
push local 3
push constant 1
add
call Sudoku.setYPos 2
pop temp 0
label IF_FALSE12
push local 0
push constant 48
gt
push local 0
push constant 58
lt
and
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 9
push local 2
call Math.multiply 2
push local 3
add
push local 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE13
push argument 1
call Sudoku.getXPos 1
pop local 2
push argument 1
call Sudoku.getYPos 1
pop local 3
push argument 1
call Sudoku.getGrid 1
pop local 4
push constant 16
push local 2
call Math.multiply 2
push constant 21
push local 3
call Math.multiply 2
push constant 16
push local 2
call Math.multiply 2
push constant 6
add
push constant 21
push local 3
push constant 1
add
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
